/* Color palette */

:root {
  --pale-grey: #f0f4f7;
}

div#searchSectionImage{
  padding-top:200px;
  padding-left:390px;
}
div#searchSectionImage img {
  width: 578px;
  height: 221px;
}

:focus {outline:0;}
/* Sample text styles */

#header {
  font-family: Roboto;
  font-size: 24px;
  color: #574751;
  display: flex;
  justify-content: flex-end;
}

a#header-link{
  text-decoration: none;
}

body {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  background-color: #f0f4f7;
  margin: 0 auto;
}

.Stocks-List-Page {
  width: 1383px;
  height: 941px;
  background-color: #f0f4f7;
  background-color: var(--pale-grey);
}


.line {
  width: 1300px;
  height: 1px;
  border: solid 1px #e5e5e5;
}

.rectangle-1 {
  overflow: scroll;
  width: 1300px;
  height: 819px;
  background-color: #ffffff;
  margin: 56px 41px 66px 42px ;
}

.navigation-list{
  list-style: none;
  display:flex;
  flex-direction: row;
  /*margin: auto;*/
}

.stock-tiker {
  /*margin: 38px 1105px auto 29px;*/
  width: 166px;
  height: 53px;
}

/*-------------Navigation ----------------*/

.navigation-div{

  margin-right: 40px;
  margin-left: 760px;
}

.refresh-icon {
  width: 41px;
  height: 44px;
  object-fit: contain;
  -webkit-transform: rotate(62deg);
  transform: rotate(62deg);
}



.filter-icon {
  width: 45px;
  height: 37.1px;
  object-fit: contain;
}

.setting-icon {
  width: 40px;
  height: 40px;
  object-fit: contain;
}

.search-icon {
  width: 40px;
  height: 39px;
  object-fit: contain;
}

.navigation-list li {
margin-left: 11px;
}

.stokr {
width: 166px;
height: 46px;
font-family: LucidaGrande;
font-size: 39px;
font-weight: bold;
color: #41bf15;
}

.navigation-list button {
border: 0px;
background: inherit;
}

.stock-list-font {
width: 465px;
height: 45px;
font-family: Avenir;
font-size: 33px;
font-weight: 300;
color: #59737c;
}

input#search-bar{
  margin: 10px;
  width: 1245px;
  height: 62px;
  border-radius: 20px;
  background-color: #ffffff;
  border: solid 1px #408be3;
}
.search{
  position: relative;
}

#cancel {
  position: absolute;
  right:0;
  top:30%;
  width: 88px;
  height: 31px;
  font-family: HelveticaNeueW01-55Roman;
  font-size: 26px;
  color: #41bf15;
}
#cancel a,#cancel a:visited {
  text-decoration: none;
  color:inherit;
}


/*//--------------Filter area-----------------*/

div.filter {
  display: flex;
  flex-basis: 80%;
  margin-left: 34px;
  flex-wrap: wrap;
}

div#filter-line {
  display: none;
}
div.filter-section {
  display:none;
  flex-wrap: wrap;
  /*overflow: hidden;*/
  height: 120px;
}

.by-name {
  /*flex-basis: 50%;*/
  margin-left: 34px;
  width: 116px;
  height: 31px;
  font-family: HelveticaNeueW01-55Roman;
  font-size: 26px;
  color: #59737c;
}


.apply {
  width: 88px;
  height: 36px;
  font-family: HelveticaNeueW01-75;
  font-size: 30px;
  font-weight: bold;
  color: #ffffff;
}

.oval-2 {
  border-radius: 70px;
  width: 120px;
  height: 111px;
  background-color: #41bf15;
  border: solid 1px #247906;
}

.by-range-from {
  /*flex-basis: 50%;*/
  margin-left: 34px;
  width: 203px;
  height: 31px;
  font-family: HelveticaNeueW01-55Roman;
  font-size: 26px;
  color: #59737c;
}
.by-range-to {
  /*flex-basis: 50%;*/
  margin-left: 34px;
  width: 167px;
  height: 31px;
  font-family: HelveticaNeueW01-55Roman;
  font-size: 26px;
  color: #59737c;
}

.by-gain {
  /*flex-basis: 50%;*/
  margin-left: 34px;
  width: 99px;
  height: 31px;
  font-family: HelveticaNeueW01-55Roman;
  font-size: 26px;
  color: #59737c;
}

/*//--------------Stocks area-----------------*/

#root{
  width: 100%;
}

.stock-list{
  width: 100%;
  list-style: none;
  padding: 0;
}

ul.stock-list{
  margin:0;
  vertical-align: middle;
}

.stock-list li{
  width: 100%;
  padding-top: 11px;
  padding-bottom: 30px;
  vertical-align: middle;
}

li#deleteStock{
  margin-right: -44px;
  /*display: none;*/
}

.oval {
  position: relative;
  border-radius: 50px;
  width: 44.3px;
  height: 43px;
  background-color: #ff4f46;
}

.oval-line{
  position: absolute;
  vertical-align: middle;
  width: 21.2px;
  height: 0;
  top: 40%;
  left:15%;
  border: solid 5px #ffffff;
}

.addShape {
  border: 0px;
  position: relative;
  border-radius: 5px;
  width: 44.3px;
  height: 43px;
  background-color: #41bf15;
}

.oval-line-vertical{
  position: absolute;
  vertical-align: middle;
  width: 0;
  height: 21.2px;
  top: 12%;
  left:39%;
  border: solid 5px #ffffff;
}

.oval-line-horizontal{
  position: absolute;
  vertical-align: middle;
  width: 21.2px;
  height: 0;
  top: 40%;
  left:15%;
  border: solid 5px #ffffff;
}

.search-data{
  width: 100%;
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: flex-start;
}

.stock-data{
  width: 100%;
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: flex-start;
}

.stock-data li {
  width: 100%;
  flex-basis: 10%;
  margin-right: 28px;
}

.stock-data li:nth-child(2) {
  flex-basis: 80%;
}

.arrows {
  display: flex;
  flex-direction: column;
}

.arrows button {
  border: 0px;
  background: inherit;
}

.arrow {
  width: 25px;
  height: 16px;
  color: #ababab;
  padding:0;
  font-size: 16px;
}

.arrow[disabled]{
  color: rgba(171, 171, 171, 0.2);
}

.arrow-down{
  transform: rotate(180deg);
  padding-left: 1px;
}



.stock-daily-change-button {
  border: none;
  border-radius: 10px;
  width: 121px;
  height: 46px;
  font-family: Avenir;
  font-size: 34px;
  font-weight: 300;
  text-align: center;
  color: #ffffff;
}

.increase {
  background-color: #63da39;
}

.decrease{
  background-color: #ff4f46;
}

.hidden {
  visibility: hidden;
}

